
/* Colors */
$primary: #FAFAFA;
$secondary: #00ffee;
$darkSecondary: #000601;
$success: #08c514;
$error: #FF5252;
$dropShadow: $darkSecondary;
$dropShadowOpacity: 20%;

/* Fonts */
$font-type: "Google Sans", "Roboto", sans-serif;
$font-title: "Google Sans Mono", "Poppins", serif;
$font-color: $darkSecondary;

:export {
  primaryColor: $primary;
  secondaryColor: $secondary;
  tertiaryColor: $darkSecondary;
  successColor: $success;
  errorColor: $error;
  fontColor: $font-color;
  fontTitle: $font-title;
  fontDefault: $font-type;
}