@import "variables.module";

.div{
  width: 100%;
  height: 100%;
}
.container {
  font-size: 84px;
  margin-top: 2em;
  
}

.buttons {
  display: flex;
  margin-top: 0.5em;
  margin-left: 40%;
}
.dialog {
  height: 0.2em;
  display: flexbox;
  margin: auto;
}



.login-button {
  background-color: $primary;
}